* {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.25s;
}
a:hover {
    color: tomato;
}

.addons {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    opacity: 0.8;
}

.to-top {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}
.to-top.active {
    pointer-events: auto;
    opacity: 1;
}