*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero{
    background-color: #4AB4DE;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 40px;
}
.background {
    position: absolute;
    bottom: 0;
}
.background img {
    width: 80%;
}
.form-box{
    background-color: rgba(255, 99, 71, 0.9);
    width: 360px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    padding: 60px 0;
    border-radius: 30px;
    overflow: hidden;
}
.material-icons{
    background-color: unset;
    color: #fff;
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
}
.material-icons:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}
.input-group{
    position: absolute;
    width: 360px;
    text-align: center;
    transition: all 0.5s;
}
h1{
    color: #fff;
    font-size: 24px;
}
span{
    color: #fff;
    font-size: 14px;
}
#toogle-btn{
    border: unset;
    background: unset;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
#toogle-btn:hover{
    font-weight: bold;
}
hr{
    margin: 20px 40px;
}
.field{
    width: 80%;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 14px;
}
.submit-btn{
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    border: 2px solid rgba(255, 99, 71, 0.8);
    border-radius: 36px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.submit-btn:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
}
#login{
    left: 0;
}
#signup{
    left: 400px;
}