/*=============== Contents ===============*/
.hero{
    height: 100%;
    width: 100%;
    position: relative;
}
.container{
    padding: 40px 80px 80px 80px;
}
.contents {
    float: left;
    width: 50%;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.contents h1{
    font-size: 30px;
}
.contents p{
    max-width: 540px;
    padding-top: 20px;
    font-size: 16px;
}
/* .btn */
.more{
    display: inline-block;
    margin: 40px 170px;
    background-color: #FF6347;
    color: #fff;
}
/* .content-list*/
table {
    margin-left: 40px;
}
table tr td {
    padding: 20px;
    background-color: none;
    transition: 0.5s;
    cursor: pointer;
}
table tr td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
table tr td p {
    text-align: center;
}
table tr td a img {
    width: 60px;
}
hr{
    margin: 40px 0;
}

/*=============== Forum ===============*/
.forum{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}
.form-forum{
    border: 1px solid;
    margin: 40px;
    padding: 20px;
    text-align: left;
}
.form-forum textarea{
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    height: 100px;
}
#send{
    background-color: #FF6347;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 16px;
    border-radius: 30px;
    margin: 20px;
    font-size: 14px;
    transition: all 0.5s;
    cursor: pointer;
}
#send:hover{
    background-color: #fff;
    border: 2px solid #FF6347;
    color: #000;
}