/*=============== Contents ===============*/
.hero{
    height: 100%;
    width: 100%;
    position: relative;
}
.container{
    padding: 40px 40px 80px 80px;
}
.contents h1{
    font-size: 30px;
}
.contents p{
    max-width: 540px;
    padding-top: 20px;
    font-size: 18px;
}

.img{
    position: absolute;
    width: 50%;
    right: 80px;
    top: 40px;
}
/* .btn */
.more{
    display: inline-block;
    margin: 40px 170px;
    background-color: #FF6347;
    color: #fff;
}
hr{
    margin: 40px 0;
}

/*=============== Forum ===============*/
.forum{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}
.form-forum{
    border: 1px solid;
    margin: 40px;
    padding: 20px;
    text-align: left;
}
.form-forum textarea{
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    height: 100px;
}
#send{
    background-color: #FF6347;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 16px;
    border-radius: 30px;
    margin: 20px;
    font-size: 14px;
    transition: all 0.5s;
    cursor: pointer;
}
#send:hover{
    background-color: #fff;
    border: 2px solid #FF6347;
    color: #000;
}
