@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-black: #000;
    --bs-primary: #FF6347;
    --bs-secondary: #4AB4DE;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
a {
    text-decoration: none;
}
p {
    text-align: justify;
    line-height: 30px;
}
.nav-link {
    border: 2px solid var(--bs-light);
    border-radius: 30px;
    margin: 0 20px;
    text-align: center;
}
.nav-link:hover {
    border: 2px solid var(--bs-primary);
}
.login:hover {
    border: 2px solid var(--bs-secondary);
}
.container .img-fluid {
    width: 40vmax;
}
.btn {
    margin-top: 10px;
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border: 2px solid var(--bs-white);
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.5s;
}
.btn:hover {
    background-color: var(--bs-white);
    border: 2px solid var(--bs-primary);
}
.card {
    background-color: transparent; 
    border: unset;
}
.card a:hover {
    text-decoration: underline;
}

table tr td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
table tr td a img {
    width: 60px;
}
table tr td a p {
    color: var(--bs-black);
    text-align: center;
}