/*=============== Contents ===============*/
.hero{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.container{
    padding: 60px;
}
.back-btn {
    margin-bottom: 20px;
    text-align: right;
}
.back-btn a img {
    width: 40px;
}
.contents{
    margin-bottom: 20px;
}
.contents h1{
    margin-bottom: 40px;
    font-size: 30px;
}
.contents h2{
    margin-bottom: 20px;
    font-size: 24px;
}
.contents h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.contents img{
    float: right;
    width: 200px;
    margin: 0 60px 40px 40px;
}
.contents p, ul {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}
ul {
    margin-left: 20px;
}
hr {
    margin: 40px 0;
}
